.start-transfer-button {
  margin-top: 10px;
}

.stop-transfer-button {
  margin-top: 10px;
}

.content-image, .style-image {
  width: 160px;
  height: 120px;
}

.generated-image {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

.content-image-button, .style-image-button, .style-2-image-button,
.content-image-remove-button, .style-image-remove-button, .style-2-image-remove-button {
  margin-top: 10px;
}
