<h1>Neural Style Transfer in TensorFlow via ASP.NET Core / Angular</h1>
<div [formGroup]="formGroup">
  <div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6">
      <div>
        <label class="btn btn-default btn-sm content-image-button" [class.disabled]="running" for="content-image-selector">
          <input id="content-image-selector" type="file" style="display: none;" (change)="contentImageChanged($event)"
                 [disabled]="running">
          Content Image
        </label>
        <button type="button" class="btn btn-default btn-sm content-image-remove-button" [disabled]="running || contentImageControl.pristine" (click)="contentImageRemoved()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <img [src]="contentImageControl.value" class="content-image" onclick="document.getElementById('content-image-selector').click()"/>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
      <div>
        <label class="btn btn-default btn-sm style-image-button" [class.disabled]="running" for="style-image-selector">
          <input id="style-image-selector" type="file" style="display: none;" (change)="styleImageChanged($event)"
                 [disabled]="running">
          Style Image
        </label>
        <button type="button" class="btn btn-default btn-sm style-image-remove-button" [disabled]="running || styleImageControl.pristine" (click)="styleImageRemoved()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <img [src]="styleImageControl.value" class="style-image" onclick="document.getElementById('style-image-selector').click()"/>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-offset-6 col-sm-offset-0">
      <div>
        <label class="btn btn-default btn-sm style-2-image-button" [class.disabled]="running || styleImageControl.pristine" for="style-2-image-selector">
          <input id="style-2-image-selector" type="file" style="display: none;" (change)="style2ImageChanged($event)"
                 [disabled]="running || styleImageControl.pristine">
          Style Image #2
        </label>
        <button type="button" class="btn btn-default btn-sm style-2-image-remove-button" [disabled]="running || style2ImageControl.pristine" (click)="style2ImageRemoved()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <img [src]="style2ImageControl.value" class="style-image" onclick="document.getElementById('style-2-image-selector').click()"/>
    </div>
    <div class="col-lg-3 col-sm-12 col-xs-12">
      <parameters [parent]="formGroup" [disabled]="running"></parameters>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-8">
    <div>
      <button type="button" class="btn btn-primary start-transfer-button"
              [title]="this.transferEnabled ? '' : 'Transfer parameters are invalid.'"
              [disabled]="!transferEnabled"
              (click)="startTransfer()">
        Launch!
      </button>
      <button type="button" class="btn btn-danger stop-transfer-button"
              [disabled]="!stopEnabled"
              (click)="stopTransfer()">
        Stop
      </button>
      {{status}}
    </div>
    <img [src]="generatedImage" class="generated-image" />
  </div>
  <div class="col-lg-6 col-sm-4">
    <h3>Results</h3>
    <table class="table">
      <tr><td>Status</td><td class="text-right">{{currentJob && (currentJob.queued ? 'queued' :
        (currentJob.initializing ? 'initializing' :
        (currentJob.completed ? 'done' :
        (currentJob.cancelled ? 'cancelled' :
        (currentJob.failed ? 'failed' :
        'running')))))}}</td></tr>
      <tr><td>Iteration</td><td class="text-right">{{currentJob && currentJob.iteration}}</td></tr>
      <tr><td>Time Elapsed</td><td class="text-right">{{timeElapsed | async}}</td></tr>
      <tr><td>Total Cost</td><td class="text-right">{{currentJob && currentJob.totalCost | number:'0.2-2'}}</td></tr>
      <tr><td>Content Cost</td><td class="text-right">{{currentJob && currentJob.contentCost | number:'0.2-2'}}</td></tr>
      <tr><td>Style Cost</td><td class="text-right">{{currentJob && currentJob.styleCost | number:'0.2-2'}}</td></tr>
    </table>
  </div>
</div>
