<div class="parameters-form" [formGroup]="parametersGroup">
  <div class="form-group row" [class.has-error]="iterations.invalid"
       [class.has-success]="iterations.valid">
    <label for="input-iterations" class="col-sm-5 control-label">Iterations</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="input-iterations" placeholder="Iterations" formControlName="iterations">
      <span *ngIf="iterations.invalid && iterations.errors && iterations.errors.required" class="help-block">Iterations count required.</span>
      <span *ngIf="iterations.invalid && iterations.errors && iterations.errors.pattern &&
            iterations.errors.pattern.requiredPattern == this.positiveIntegerNumberRegex" class="help-block">Iteration count must be a positive integer.</span>
      <span *ngIf="iterations.invalid && iterations.errors && iterations.errors.max" class="help-block">Iteration count must not exceed {{iterations.errors.max.max}}.</span>
    </div>
  </div>
  <div class="form-group row" [class.has-error]="contentCostWeight.invalid"
       [class.has-success]="contentCostWeight.valid">
    <label for="input-content-cost" class="col-sm-5 control-label">Content cost weight</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="input-content-cost" placeholder="Content cost weight" formControlName="contentCostWeight">
      <span *ngIf="contentCostWeight.invalid && contentCostWeight.errors && contentCostWeight.errors.required" class="help-block">Content cost weight required.</span>
      <span *ngIf="contentCostWeight.invalid && contentCostWeight.errors && contentCostWeight.errors.pattern &&
            contentCostWeight.errors.pattern.requiredPattern == this.positiveRealNumberRegex" class="help-block">Content cost weight be a positive real number.</span>
    </div>
  </div>
  <div class="form-group row" [class.has-error]="styleCostWeight.invalid"
       [class.has-success]="styleCostWeight.valid">
    <label for="input-style-cost" class="col-sm-5 control-label">Style cost weight</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="input-style-cost" placeholder="Style cost weight" formControlName="styleCostWeight">
      <span *ngIf="styleCostWeight.invalid && styleCostWeight.errors && styleCostWeight.errors.required" class="help-block">Style cost weight required.</span>
      <span *ngIf="styleCostWeight.invalid && styleCostWeight.errors && styleCostWeight.errors.pattern &&
            styleCostWeight.errors.pattern.requiredPattern == this.positiveRealNumberRegex" class="help-block">Style cost weight be a positive real number.</span>
    </div>
  </div>
</div>
