<div class="main-nav">
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="toggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Neural Style Transfer</a>
    </div>
    <div class="clearfix"></div>
    <div class="navbar-collapse collapse" [ngClass]='{ "in": isExpanded }'>
      <ul class="nav navbar-nav">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]='["/"]' (click)="collapse()">
            <span class="glyphicon glyphicon-home"></span> Home
          </a>
        </li>
        <li>
          <a href="https://gitlab.com/OutSorcerer/NeuralStyleTransferWeb" (click)="collapse()">
            <span class="glyphicon glyphicon-file"></span> Source Code
          </a>
        </li>
        <li>
          <a href="http://evgeniymamchenko.com/dual-neural-style-transfer-with-docker-compose/" (click)="collapse()">
            <span class="glyphicon glyphicon-info-sign"></span> About
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
